llama-index
llama-index-embeddings-ollama
llama-index-llms-ollama
streamlit
llama-index-retrievers-bm25
llama-index-vector-stores-qdrant
qdrant_client
ollama
transformers
python-dotenv

jupyter
ipywidgets
psutil