llama-index
llama-index-embeddings-ollama
llama-index-llms-ollama
streamlit
llama-index-retrievers-bm25
llama-index-vector-stores-qdrant
qdrant_client
ollama
python-dotenv

jupyter
ipywidgets
psutil

pypdf
torch --index-url https://download.pytorch.org/whl/rocm6.2
torchvision --index-url https://download.pytorch.org/whl/rocm6.2
torchaudio --index-url https://download.pytorch.org/whl/rocm6.2
openai-whisper

pymupdf4llm
ffmpeg-progress-yield